:root{
    --white: #fff;
    --black: #000;
    --blue: #8ee;
    --orange: rgb(247, 126, 40);
    --red: rgb(247, 40, 40);
    --gray: rgb(187, 186, 186);
    --font: "Inconsolata", monospace;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}  

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, p{
    font-size: var(--font);
}

h1{
    font-size: 3rem;
    margin: .2rem;
}
p{
    font-size: 2rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.field{
    padding: 1rem 5rem;
    flex-direction: column  ;
    border: 2px solid var(--black);
    background-color: var(--white);
}

.button{
    margin-top: 1rem;
    cursor: pointer;
    outline: none; 
    text-transform: uppercase;
    color: var(--black);
    padding: 0.5rem 11.2rem;
    font-family: var(--font);
    font-size: 2rem;
    border: 2px solid var(--black);
    transition: color .5s ease-out;
    background-color: var(--white);
}

.button:active{
    background-color: var(--gray);
    transform: scale(0.95);
}

.credits{
    border: none;
    padding: 0;
    background-color: var(--black);
    color: var(--white);
}